NEXT_PUBLIC_SUPABASE_URL=https://cwhmhhncabgzmsmntnxc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN3aG1oaG5jYWJnem1zbW50bnhjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjI0OTEsImV4cCI6MjA5NTUzODQ5MX0.fkg4-kojXZYDSh2cJ9NpMxQu85r-UHosVGoOJyDYBOQ
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000
